#nav-bar {
   display: flex;
   width: 100%;
   padding: 15px 25px;
   justify-content: space-between;
   align-items: center;
   background: var(--Base-White, #FFF);
   box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.10);
}

#contact {
   display: flex;
   padding: 14px 25px;
   justify-content: center;
   align-items: center;
   gap: 10px;
   border-radius: 5px;
   background: linear-gradient(225deg, #6675F7 0%, #57007B 100%);
}

#options {
   display: flex;
   width: 645px;
   padding: 10px 0px;
   justify-content: space-between;
   align-items: center;
   flex-shrink: 0;
}

#primary-text {
   color: var(--Gray-gray-900, #1A202C);

   /* Headings/Lite-h1 */
   font-family: Inter;
   font-size: 45px;
   font-style: normal;
   font-weight: 300;
   line-height: 71px; /* 157.778% */
}

#product {
   background: linear-gradient(180deg, #DE4396 0%, rgba(13, 28, 159, 0.00) 100%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-family: Inter;
   font-size: 45px;
   font-style: normal;
   font-weight: 700;
   line-height: 71px;
}

.normal-text {
   color: #1A202C;
   font-size: 45px;
   font-family: Inter;
   font-weight: 300;
   line-height: 71px;
   word-wrap: break-word ;  
}

nav-item {
   display: flex;
   align-items: center;
   gap: 10px; 
}



#logo {
   display: flex;
   width: 180px;
   height: 59px;
   padding: 17.41px 33.261px 17.087px 14.348px;
   align-items: center;
   flex-shrink: 0;   
}

#hero-wrapper {
   display: inline-flex;
   justify-content: center;
   align-items: center;
}

#hero-image-wrapper {
   width: 614px;
   height: 546px;
   flex-shrink: 0;  
}



#ellipse {
   width: 72px;
   height: 72px;
   flex-shrink: 0;
   position: absolute;
   left: 483px;
   bottom: -36px;
}